

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        {{>adminHeader}}
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <!-- Add Order -->

                <div class="page-titles">
                    <ol class="breadcrumb">

                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Products</a></li>
                    </ol>
                </div>
                <!-- row -->


                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Products Datatable</h4>
                                <a href="/admin/add-coupon" class="btn btn-info">Add Coupon</a>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example3" class="display min-w850">
                                        <thead>
                                            <tr>
                                               
                                                <th>Coupon Name</th>
                                               
                                                <th>Coupon Code</th>
                                                <th>Minimum Amount</th>
                                                <th>Maximum Amount</th>
                                                
                                                <th>Offers</th>
                                                <th>validity </th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                           {{#each data}}
                                            <tr>
                                               
                                                <td>{{this.name}}</td>
                                               
                                                <td>{{this.code}}</td>
                                                <td><p class="d-inline-block text-truncate" style="max-width:190px ;"></p>{{this.minAmount}}</td>
                                                <td>{{this.maxAmount}}</td>
                                               <td>{{this.offer}}</td>
                                                <td><a href="javascript:void(0);"><strong
                                                            class="text-black"></strong></a>{{this.validity}}</td>
                                                
                                                <td>
                                                   
                                                    <div class="d-flex">
                                                        <a href="/admin/edit-coupon/{{this._id}}"
                                                            class="btn btn-primary shadow btn-xs sharp mr-1"><i
                                                                class="fa fa-pencil"></i></a>
                                                        <a 
                                                        {{!-- href="/admin/delete-coupon/{{this._id}}" --}}
                                                        onclick="deleteCoupon('{{this._id}}')"
                                                            class="btn btn-danger shadow btn-xs sharp"><i
                                                                class="fa fa-trash"></i></a>


                                                    </div>
                                                </td>
                                            </tr>
                                                {{/each}}
                                          
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="http://dexignzone.com/"
                        target="_blank">DexignZone</a> 2021</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
   

</body>

</html>