<!-- Start Header Area -->
<header class="header-section d-none d-xl-block">
    <div class="header-wrapper">
        <div class="header-bottom header-bottom-color--black section-fluid sticky-header sticky-color--black">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 d-flex align-items-center justify-content-between">
                        <!-- Start Header Logo -->
                        <div class="header-logo">
                            <div class="logo">
                                {{!-- <img src="user/images/logo/logo_white.png" alt=""> --}}
                                <a href="/"><strong>
                                        <h1 class="text-white">Airchip</h1>
                                    </strong> </a>
                            </div>
                        </div>
                        <!-- End Header Logo -->

                        <!-- Start Header Main Menu -->
                        <div class="main-menu menu-color--white menu-hover-color--pink ">
                            <nav>
                                <ul class="mx-auto">
                                    <li class="has-dropdown">
                                        <a class="active main-menu-link" href="/">Home </a>
                                        <!-- Sub Menu -->
                                        {{!-- <ul class="sub-menu">
                                            <li><a href="index.html">Home 1</a></li>

                                        </ul> --}}
                                    </li>
                                    <li class="has-dropdown has-megaitem">
                                        <a href="">Category <i class="fa fa-angle-down"></i></a>
                                        <!-- Mega Menu -->
                                        <div class="mega-menu">
                                            <ul class="mega-menu-inner">
                                                <!-- Mega Menu Sub Link -->
                                                {{#each category}}
                                                <li class="mega-menu-item">
                                                    <a href="/category-products/{{this._id}}"
                                                        class="mega-menu-item-title">{{this.name}}</a>

                                                </li>
                                                {{/each}}

                                            </ul>
                                            <div class="menu-banner">
                                                <a href="#" class="menu-banner-link">
                                                    <img class="menu-banner-img"
                                                        src="/user/images/C7WSOETERFDN3MM66JDBRYCT2Y.jpg" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="has-dropdown">
                                        <a href="/products">All products</a>

                                    </li>
                                    {{!-- <li>
                                        <a href="about-us.html">About Us</a>
                                    </li>
                                    <li>
                                        <a href="contact-us.html">Contact Us</a>
                                    </li> --}}
                                </ul>
                            </nav>
                        </div>
                        <!-- End Header Main Menu Start -->

                        <!-- Start Header Action Link -->
                        <ul class="header-action-link action-color--white action-hover-color--pink">
                            <li>
                                <a href="/wishlist">
                                    <i class="icon-heart"></i>
                                    {{!-- <span class="item-count">3</span> --}}
                                </a>
                            </li>
                            {{!-- {{#if user}} --}}
                            <li>
                                <a href="/cart">
                                    <i class="icon-bag"></i>
                                    {{#if user }}
                                    <span class="item-count" id="cart-count">{{cartCount}}</span>
                                    {{/if}}
                                </a>
                            </li>

                            <li>
                                <a href="#search">
                                    <i class="icon-magnifier"></i>

                                </a>
                            </li>


                            <li>
                                <div class="dropdown">

                                    <button onclick="myFunction()" class="dropbtn">
                                        {{!-- <img src="/admin/images/profile/17.jpg" width="25" class="rounded-circle"
                                            alt="" /> --}}
                                        {{# if user}}
                                        {{user.name}}
                                        {{else}}
                                        Account
                                        {{/if}}
                                    </button>
                                    <div id="myDropdown" class="dropdown-content">
                                        {{#if user}}
                                        <a href="/profile" style="letter-spacing: normal;  font-size: 16px;">Profile</a>
                                        <a href="/logout" style="letter-spacing: normal;  font-size: 16px;">Logout</a>
                                        {{else}}
                                        <a href="/login" style="letter-spacing: normal;  font-size: 16px;">Login</a>
                                        {{/if}}
                                    </div>
                                </div>
                            </li>

                            <li>
                                <a href="#offcanvas-about" class="offacnvas offside-about offcanvas-toggle">
                                    <i class="icon-menu"></i>
                                </a>

                            </li>

                        </ul>
                    </div>

                    </li>
                    </ul>
                    <!-- End Header Action Link -->
                </div>
            </div>
        </div>
    </div>
    </div>
</header>
<!-- Start Header Area -->

<!-- Start Mobile Header -->
<div class="mobile-header  mobile-header-bg-color--black section-fluid d-lg-block d-xl-none">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex align-items-center justify-content-between">
                <!-- Start Mobile Left Side -->
                <div class="mobile-header-left">
                    <ul class="mobile-menu-logo">
                        <li>
                            <h2> <a href="/">
                                    Airchip
                                </a></h2>
                        </li>
                    </ul>
                </div>
                <!-- End Mobile Left Side -->

                <!-- Start Mobile Right Side -->
                <div class="mobile-right-side">
                    <ul class="header-action-link action-color--white action-hover-color--pink">
                        <li>
                            <a href="#search">
                                <i class="icon-magnifier"></i>
                            </a>
                        </li>
                        <li>
                            <a href="/wishlist">
                                <i class="icon-heart"></i>
                                {{!-- <span class="item-count">3</span> --}}
                            </a>
                        </li>
                        <li>
                            <a href="/cart">
                                <i class="icon-bag"></i>
                                {{#if user}}
                                <span class="item-count" id="cart-count">{{cartCount}}</span>
                                {{/if}}
                            </a>
                        </li>
                        <li>
                            <a href="#mobile-menu-offcanvas"
                                class="offcanvas-toggle offside-menu offside-menu-color--black">
                                <i class="icon-menu"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End Mobile Right Side -->
            </div>
        </div>
    </div>
</div>
<!-- End Mobile Header -->

<!--  Start Offcanvas Mobile Menu Section -->
<div id="mobile-menu-offcanvas" class="offcanvas offcanvas-rightside offcanvas-mobile-menu-section">
    <!-- Start Offcanvas Header -->
    <div class="offcanvas-header text-right">
        <button class="offcanvas-close"><i class="ion-android-close"></i></button>
    </div> <!-- End Offcanvas Header -->
    <!-- Start Offcanvas Mobile Menu Wrapper -->
    <div class="offcanvas-mobile-menu-wrapper">
        <!-- Start Mobile Menu  -->
        <div class="mobile-menu-bottom">
            <!-- Start Mobile Menu Nav -->
            <div class="offcanvas-menu">
                <ul>
                    <li>
                        <a href="#"><span>Home</span></a>

                    </li>
                    <li>
                        <a href="#"><span>Category</span></a>

                        <ul class="mobile-sub-menu">
                            {{#each category}}
                            <li>
                                <a href="/category-products/{{this._id}}">{{this.name}}</a>

                            </li>
                            {{/each}}
                        </ul>

                    </li>
                  
                    <li class="mobile-sub-menu">
                        <a href="/products">All products</a>

                    </li>

                </ul>
            </div> <!-- End Mobile Menu Nav -->
        </div> <!-- End Mobile Menu -->

        <!-- Start Mobile contact Info -->
        <div class="mobile-contact-info">
            <div class="logo">
                <a href="/"><img src="" alt="">Airchip</a>
            </div>

            <address class="address">
                <span>Address: Your address goes here.</span>
                <span>Call Us: 0123456789, 0123456789</span>
                <span>Email: demo@example.com</span>
            </address>

            <ul class="social-link">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>

            <ul class="user-link">
                <li><a href="/wishlist">Wishlist</a></li>
                <li><a href="/cart">Cart</a></li>
                <li><a href="/checkout">Checkout</a></li>
            </ul>
        </div>
        <!-- End Mobile contact Info -->

    </div> <!-- End Offcanvas Mobile Menu Wrapper -->
</div> <!-- ...:::: End Offcanvas Mobile Menu Section:::... -->

<!-- Start Offcanvas Mobile Menu Section -->
<div id="offcanvas-about" class="offcanvas offcanvas-rightside offcanvas-mobile-about-section">
    <!-- Start Offcanvas Header -->
    <div class="offcanvas-header text-right">
        <button class="offcanvas-close"><i class="ion-android-close"></i></button>
    </div> <!-- End Offcanvas Header -->
    <!-- Start Offcanvas Mobile Menu Wrapper -->
    <!-- Start Mobile contact Info -->
    <div class="mobile-contact-info">
        <div class="logo">
            <a href="/"><img src="" alt="">
                <h1 class="text-white">Airchip</h1>
            </a>
        </div>

        <address class="address">
            <span>Address: Your address goes here.</span>
            <span>Call Us: 0123456789, 0123456789</span>
            <span>Email: demo@example.com</span>
        </address>

        <ul class="social-link">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>

        <ul class="user-link">
            <li><a href="/wishlist">Wishlist</a></li>
            <li><a href="/cart">Cart</a></li>
            <li><a href="/checkout">Checkout</a></li>
        </ul>
    </div>
    <!-- End Mobile contact Info -->
</div> <!-- ...:::: End Offcanvas Mobile Menu Section:::... -->

<!-- Start Offcanvas Addcart Section -->
{{!-- <div id="offcanvas-add-cart" class="offcanvas offcanvas-rightside offcanvas-add-cart-section">
    <!-- Start Offcanvas Header -->
    <div class="offcanvas-header text-right">
        <button class="offcanvas-close"><i class="ion-android-close"></i></button>
    </div> <!-- End Offcanvas Header -->

    <!-- Start  Offcanvas Addcart Wrapper -->
    <div class="offcanvas-add-cart-wrapper">


        <ul class="offcanvas-cart-action-button">
            <li><a href="/cart" class="btn btn-block btn-pink">View Cart</a></li>
            <li><a href="/checkout" class=" btn btn-block btn-pink mt-5">Checkout</a></li>
        </ul>
    </div> <!-- End  Offcanvas Addcart Wrapper -->

</div> --}}
<!-- End  Offcanvas Addcart Section -->



<!-- Start Offcanvas Search Bar Section -->
<div id="search" class="search-modal">
    <button type="button" class="close">×</button>
    <form>
        <input type="search" placeholder="type keyword(s) here" />
        <button type="submit" class="btn btn-lg btn-pink">Search</button>
    </form>
</div>
<!-- End Offcanvas Search Bar Section -->

<!-- Offcanvas Overlay -->
<div class="offcanvas-overlay"></div>